<div id="<%= dom_id shipping %>">
    <p class="block text-lg font-medium leading-6 text-gray-900"> Name: </p>
    <p class= "block font-medium leading-6 text-gray-900"><%= shipping.status %></p>
</div>