 <%= form_for @user do |form| %>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-50 w-auto -mt-20" src="https://art.pixilart.com/bb3491722558ba5.png" alt="Your Company">
      <h2 class="text-center text-2xl -mt-8 font-bold leading-9 tracking-tight text-gray-900">Sign ups have closed. Try again in 2024</h2>
    </div>
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6">
        <div>
      </form>
    </div>
  </div>
<% end %>