<div id="<%= dom_id gift %>">
    <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-xl font-medium leading-6 text-gray-900"><strong><%= gift.name %></strong></dt>
            <dd class="mt-1 text-xl leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= gift.notes %></dd>
            <br>
            <dd class="mt-1 text-xl leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><strong>Url: </strong><%= gift.url %></dd>
        </div>
    <dl class="divide-y divide-gray-100">
</div>
